body {
    font-family: 'Sansita', sans-serif;
}

.search-bar {
    width: 100%;
    max-width: 450px;
    background-color: rgb(241, 238, 238);
    display: flex;
    border-radius: 60px;
    padding: 10px 15px;
}

.search-bar input {
    background: transparent;
    border: 0;
    outline: none;

}

.search-bar button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-left: 190px;
}

.bg-color {
    background-color: antiquewhite;
}

.panda-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}